In [1]:
import pandas as pd

In [2]:
cars_df = pd.read_csv("cars_dataset.csv", sep = "\t", encoding='utf-8')

In [28]:
def cvtFloat_price(x):
    if (x != 'N.A.'):
        return float(x) * 1000
    else:
        return None
cars_df['price'] = cars_df['price'].apply(cvtFloat_price)

In [30]:
cars_df['price'].dtype

dtype('float64')

In [31]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84174 entries, 0 to 84173
Data columns (total 34 columns):
url                        84174 non-null object
name                       84174 non-null object
model                      84174 non-null object
brand                      84174 non-null object
price                      83989 non-null float64
eLabel                     84174 non-null object
bodyType                   83418 non-null object
length                     84174 non-null object
height                     84107 non-null object
width                      84140 non-null object
weight                     83899 non-null object
weightTotal                83899 non-null object
emissionsCO2               70163 non-null object
modelDate                  84174 non-null int64
fuelType                   83999 non-null object
numberOfAxles              84174 non-null int64
numberOfDoors              84174 non-null int64
numberOfForwardGears       84174 non-null object
seatingCapacity            84174 non-null object
vehicleTransmission        84174 non-null object
cargoVolume                84174 non-null object
roofLoad                   72762 non-null object
accelerationTime           84050 non-null object
driveWheelConfiguration    84174 non-null object
fuelCapacity               84106 non-null object
fuelConsumption            83149 non-null object
speed                      83490 non-null object
payload                    83176 non-null object
trailerWeight              79782 non-null object
vEengineType               84001 non-null object
vEfuelType                 83999 non-null object
vEengineDisplacement       83950 non-null object
vEenginePower              84174 non-null object
torque                     83896 non-null object
dtypes: float64(1), int64(3), object(30)
memory usage: 21.8+ MB

In [35]:
cars_df['brand'].unique()

array(['Audi', 'Honda', 'Renault', 'Buick', 'Opel', 'BMW', 'Peugeot',
       'Citroen', 'Toyota', 'Porsche', 'Austin', 'Maybach',
       'Aston Martin', 'Alfa Romeo', 'Mazda', 'Fiat', 'Mini', 'Ford',
       'Mercedes', 'Kia', 'Ferrari', 'Volkswagen', 'Jaguar', 'Nissan',
       'Bentley', 'Suzuki', 'Talbot', 'Volvo', 'Daihatsu', 'Chevrolet',
       'Lexus', 'Cadillac', 'Lotus', 'Josse', 'Hyundai', 'Skoda',
       'McLaren', 'Saab', 'Mitsubishi', 'Seat', 'Jeep', 'Lada', 'Lancia',
       'Dodge', 'Datsun', 'Lamborghini', 'Infiniti', 'Daimler', 'DS',
       'SsangYong', 'Rover', 'MG', 'TVR', 'Maserati', 'Tesla', 'Morgan',
       'Pontiac', 'Subaru', 'Land Rover', 'Daewoo', 'Galloper', 'FSO',
       'Triumph', 'Carver', 'Dacia', 'Noble', 'Chrysler', 'Smart',
       'Donkervoort', 'Landwind', 'Innocenti', 'Hummer', 'Lincoln',
       'Mercury', 'Rolls-Royce', 'Yugo', 'Abarth', 'Marcos', 'Fisker',
       'Autobianchi', 'PGO', 'Think', 'Asia Motors', 'Corvette', 'Mega',
       'Princess', 'Spectre', 'Morris', 'Bugatti'], dtype=object)

In [36]:
cars_df['eLabel'].unique()

array(['G', 'C', 'E', 'D', 'B', 'F', 'N.A.', '-', 'A'], dtype=object)

In [43]:
for i in range(34):
    temp = cars_df.iloc[:,i] 
    print(temp.name, len(temp.unique()))

url 84173
name 44332
model 1678
brand 89
price 27147
eLabel 9
bodyType 11
length 1292
height 689
width 453
weight 1646
weightTotal 1646
emissionsCO2 392
modelDate 52
fuelType 11
numberOfAxles 1
numberOfDoors 5
numberOfForwardGears 10
seatingCapacity 22
vehicleTransmission 1
cargoVolume 1934
roofLoad 78
accelerationTime 231
driveWheelConfiguration 6
fuelCapacity 101
fuelConsumption 199
speed 229
payload 879
trailerWeight 282
vEengineType 4
vEfuelType 11
vEengineDisplacement 777
vEenginePower 360
torque 475